body{
    background: url(../img/principal.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

div .titulo-q{
    color: #B91414;
}

div .letra-q{
    color: #6D6D6D;
}

div .navegar{
    background-color: #B91414;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

}

.white{
	color: #FFFFFF;
}

.backwhite{
	background-color: #FFFFFF;
}

