{% extends 'main/base_template.html' %}
{% block title %} Restaurante {% endblock %}

{%  block content %}


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container backwhite">

	
		<div class="col-md-12">
			<center>
	    		<h1 class="colaboradores">Colaboradores</h1>
	    	</center>
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<div class="col-md-12">
	    	<div class="col-md-4 col-md-offset-1">
	    		<img src="../../../static/my/img/perro.jpg" class="circulo2" width="100%" height="100%" alt="No found">
	    		<br><br>
	    		<ul>
	    			<li class="fuente">Francisco Navas</li>
	    			<li class="fuente">3168203138</li>
	    			<li class="fuente"><a class="web" href="https://www.facebook.com/frank0813">Facebook</a></li>
	    		</ul>
	    	</div>
	    	<div class="col-md-4 col-md-offset-2">
	    		<img src="../../../static/my/img/gato.jpg" class="circulo2" width="100%" height="100%" alt="No found">
	    		<br><br>
	    		<ul>
	    			<li class="fuente">Angie Sichacá</li>
	    			<li class="fuente">3212065091</li>
	    			<li class="fuente"><a class="web" href="https://www.facebook.com/ChocolateAgridulce">Facebook</a></li>
	    		</ul>
	    	</div>
		</div>
	

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

{% endblock %}