{% extends 'main/base_template.html' %}
{% block title %} Mapa {% endblock %}

{%  block content %}


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container backwhite">

	
		<div class="col-md-12">
			<center>
	    		<h1 class="colaboradores">Mapa de Girardot</h1>
	    	</center>
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<center>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31828.22713612415!2d-74.81059076165343!3d4.3113087494379245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f28ec54308e5f%3A0xad9e09275aa20260!2sGirardot%2C+Cundinamarca%2C+Colombia!5e0!3m2!1ses!2ses!4v1479173310433" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</center>

	<br>
	<br>

{% endblock %}