{% extends 'main/base_template.html' %}
{% block title %} Restaurante {% endblock %}
{% load user_tags %}

{%  block content %}


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container backwhite">
            {% if request.user|has_group:"Cliente" %}
            		<div class="col-md-12">
			        	<a class="btn btn-primary pull-right" href="{% url 'add-menu' %}"><i class="fa fa-plus" aria-hidden="true"></i><br>Agregar Platillo</a></h3>
			        </div>
			        
			        <div class="col-md-12">    
			        <div class="panel">
			        	<div class="panel-body">
			            <div class="table-responsive">
			        	<table class="table table-bordered table-hover table-striped">
			                <thead>
			                <tr>
			                  <th>Tu Menú</th>
			                  <th>Funciones</th>
			                </tr>  
			                </thead>  	
			                  {% for menu in restaurante.platillo_set.all %}
			                  <tbody>
								<tr>
								<td>{{ menu.nombre }}</td>
								<td>
								<a class="btn btn-primary" href="{% url 'edit-menu' pk=menu.pk %}" >Editar</a>
								<a class="btn btn-danger" href="{% url 'delete-menu' pk=menu.pk %}">Borrar</a></td>
			                    </tr>
			                  </tbody>
			                  {% endfor %}
			            </table>
			            </div>
			            </div>	       
			        </div>
			        </div>        

            {% endif %}
			{% if request.user|has_group:"Usuarios" %}
			<div class="col-md-12">    
			        <div class="panel">
			        	<div class="panel-body">
			            <div class="table-responsive">
			        	<table class="table table-bordered table-hover table-striped">
			                <thead>
			                <tr>
			                  <th>Menú</th>
			                  
			                </tr>  
			                </thead>  

			                {{ platillo }}
			               
			                  {% for plati in platillo %}
			                  <tbody>
								<tr>
								<td>{{ plati.nombre }}, {{ plati.precio }}</td>
								
			                    </tr>
			                  </tbody>
			                  {% endfor %}
			            </table>
			            </div>
			            </div>	       
			        </div>
			        </div> 
            {% endif %}

        <hr class="divider">

{% endblock %}