{% extends 'main/base_template.html' %}
{% block title %} Perfil {% endblock %}

{%  block content %}


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container backwhite">

		<div class="col-md-12">
			<center>
	    		<h1 class="colaboradores">Perfil</h1>
	    	</center>
		</div>
	<div class="container">
		<div class="col-md-12">
			<div class="col-md-5 ">
				<div class="row">
					<label for="usuario">Usuario</label>
				</div>
			<div class="row">
				<input type="text" class="form-control" name="usuario" id="usuario" placeholder="{{ user.id.username }}">
			</div>
			</div>
				<div class="col-md-5 col-md-offset-1">
					<div class="row">
						<label for="correo">Correo</label>
					</div>
				<div class="row">
					<input type="correo" class="form-control" name="correo" id="correo" placeholder="{{ user.id.email }}">
				</div>
			</div>	
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<div class="col-md-12">
			<div class="col-md-5 ">
				<div class="row">
					<label for="nombres">Nombre</label>
				</div>
				<div class="row">
					<input type="text" class="form-control" name="nombres" id="nombres" placeholder="{{ user.id.first_name }}">
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1">
				<div class="row">
					<label for="apellidos">Apellidos</label>
				</div>
				<div class="row">
					<input type="text" class="form-control" name="apellidos" id="apellidos" placeholder="{{ user.id.last_name }}">
				</div>
			</div>	
		</div>

		<br>
		<br>
		<br>
		<br>

		<div class="col-md-12">
			<div class="col-md-5 ">
				<div class="row">
					<label for="telefono">Telefono</label>
				</div>
			<div class="row">
				<input type="text" class="form-control" name="telefono" id="telefono" placeholder="{{ user.telefono }}">
			</div>
			</div>
				<div class="col-md-5 col-md-offset-1">
					<div class="row">
						<label for="direccion">Dirección</label>
					</div>
				<div class="row">
					<input type="text" class="form-control" name="direccion" id="direccion" placeholder="{{ user.direccion }}">
				</div>
			</div>	
		</div>


		</div>
		
	<br>
	<br>
{% endblock %}