{% extends 'main/base_template.html' %}
{% block title %} Inicio {% endblock %}

{%  block content %}

    <!-- Use a container to wrap the slider, the purpose is to enable slider to always fit width of the wrapper while window resize -->
    <div class="container slider-tamaño">
        <!-- Jssor Slider Begin -->
        <!-- To move inline styles to css file/block, please specify a class name for each element. --> 
        <!-- ================================================== -->
        <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; width: 1120px; height: 442px; overflow: hidden;">

            <!-- Slides Container -->
            <div u="slides" style="position: absolute; left: 0px; top: 0px; width: 1140px; height: 442px;
            overflow: hidden;">
                <div>
                    <img u="image" src2="../../../static/my/img/img1.jpg" />
                </div>
                <div>
                    <img u="image" src2="../../../static/my/img/img2.jpg" />
                </div>
                <div>
                    <img u="image" src2="../../../static/my/img/img3.jpg" />
                </div>
                <div>
                    <img u="image" src2="../../../static/my/img/img4.jpg" />
                </div>
            </div>
            
            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;">
            </span>
            <!--#endregion Arrow Navigator Skin End -->
            <a style="display: none" href="http://www.jssor.com">Bootstrap Carousel</a>
        </div>
        <!-- Jssor Slider End -->
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container backwhite">

        <hr class="divider">

        <div class="row">
            <div class="col-md-7">
                <h2 class="titulo-q"><b>Quienes somos?</b></h2>
                <p class="lead letra-q">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam distinctio earum quia sapiente asperiores laborum repudiandae repellendus doloribus deleniti dicta porro et, officiis maiores animi odio modi, eaque explicabo dolor.</p>
            </div>
            <div class="col-md-5 ">
                <img src="../../../static/my/img/logo-app.png" width="100%" height="100%" alt="No found">
            </div>
        </div>
        
{% endblock %}