{% extends 'main/base_template.html' %}
{% block title %} Restaurante {% endblock %}
{% load user_tags %}

{%  block content %}


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container backwhite">
            {% if request.user|has_group:"Cliente" %}
            		<div class="col-md-12">
			        	<a class="btn btn-primary pull-right" href="{% url 'add-restaurante' %}"><i class="fa fa-plus" aria-hidden="true"></i><br>Agregar</a></h3>
			        </div>
			        
			        <div class="col-md-12">    
			        <div class="panel">
			        	<div class="panel-body">
			            <div class="table-responsive">
			        	<table class="table table-bordered table-hover table-striped">
			                <thead>
			                <tr>
			                  <th>Tus Restaurantes</th>
			                  <th>Funciones</th>
			                </tr>  
			                </thead>  	
			               
			                  {% for restauran in user.cliente.restaurante_set.all %}
			                  <tbody>
								<tr>
								<td>{{ restauran.nombre }}</td>
								<td><a class="btn btn-primary" href="{% url 'restaurante-detalle' pk=restauran.pk %}" >Ver</a>
								<a class="btn btn-danger" href="#">Borrar</a></td> 
			                    </tr>
			                  </tbody>
			                  {% endfor %}
			            </table>
			            </div>
			            </div>	       
			        </div>
			        </div>        

            {% endif %}
			{% if request.user|has_group:"Usuarios" %}
			<div class="col-md-12">    
			        <div class="panel">
			        	<div class="panel-body">
			            <div class="table-responsive">
			        	<table class="table table-bordered table-hover table-striped">
			                <thead>
			                <tr>
			                  <th>Restaurantes Disponibles</th>
			                  <th>.</th>
			                </tr>  
			                </thead>  	
			               
			                  {% for restaurant in restaurante %}
			                  <tbody>
								<tr>
								<td>{{ restaurant.nombre }}</td>
								<td><a class="btn btn-primary" href="{% url 'restaurante-detalle' pk=restaurant.pk %}" >Ver</a></td> 
			                    </tr>
			                  </tbody>
			                  {% endfor %}
			            </table>
			            </div>
			            </div>	       
			        </div>
			        </div> 
            {% endif %}

        <hr class="divider">

{% endblock %}